[submodule "aoc"]
	path = aoc
	url = https://github.com/thesandybridge/aoc

[submodule "algos"]
	path = algos
	url = https://github.com/thesandybridge/dsa_practice

[submodule "goapp1"]
    path = goapp1
    url = https://github.com/alexbrockson/goapp1

